
@numberButtonColor: #eee;
@numberButtonColorActive: #ccc;

@actionButtonColor: #ccc;
@actionButtonColorActive: #aaa;

@opButtonColor: orange;
@opButtonColorActive: darkorange;

@resultHeight: 28.56%;
@buttonHeight: 14.28%;


body {
  margin: 0px;
  padding:0px;
  font-size: 2em;

  ul {
    margin: 0px;
    list-style-type: none;
    padding: 0px;

    li.result {
        background-color: #333;
        text-align: right;
        height: @resultHeight;

        label {
          font-size:200%;
          font-family: "HelveticaNeue-UltraLight";
          color: white;
          padding-right: 10px;
          position: absolute;
          top:12%;
          right:0px
        }
    }

    ul {
      width: 100%;
      height: 100%;
      display: block;
      position: relative;
      float: left;

      li {
        display: block;
        width: 25%;
        height: 100%;
        background-color: @numberButtonColor;
        border: 0px solid #555;
        position: relative;
        float: left;
        border: 1px solid #555;
        border-right:0px;
        border-bottom:0px;
        margin-left:-1px;
        
        
        &:active {
          background: @numberButtonColorActive;
        }
        
        &.action-button {
          background-color: @actionButtonColor;
        }
        &.action-button:active {
          background-color: @actionButtonColorActive;
        }

        &.op-button {
          background-color: @opButtonColor;
        }

        &.op-button:active {
          background-color: opButtonColorActive;
        }

        &.zero {
          width: 50%;
          button {
            text-align: left;
            padding-left:20%;
          }
        }
        
        button {
          position: relative;
          height: 100%;
          width: 100%;
          font-size:100%;
          font-family: "HelveticaNeue-UltraLight";
          background-color: transparent;
          padding: 0px;
          border:0px;
          outline-width: 0;
        }
      }
    }
  }

  & > ul {
    position: absolute;
    height: 100%;
    width: 100%;

    li {
      height: @buttonHeight;
    }
  }
}
